.calendar-container {
  width: 60vw;
  padding: 1em;
  float: left;
}
.plan-form {
  width: 100%;
}
.extras-container {
  background-color: #fee715;
  float: left;
  width: 28%;
  height: 77vh;
  margin-left: 2vw;
  margin-top: 2vh;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 30px 30px 30px 30px;
  font-size: 22px;

  text-align: center;
}
.time-picker {
  width: 80px !important;
  float: left;
  margin-bottom: 4vh;
}

@media only screen and (max-width: 870px) {
  .extras-container {
    height: 82vh;
    font-size: 16px;
  }
}
.extras-container-short {
  background-color: #fee715;
  float: left;
  width: 28%;
  height: 50vh;
  margin-left: 2vw;
  margin-top: 2vh;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 30px 30px 30px 30px;
  font-size: 22px;

  text-align: center;
}

.todays-task-container {
  margin-top: 2vh;
  margin-bottom: 4vh;
  height: 10vh;
  max-width: 80vw;
}

.selected-task-container {
  height: 22vh;
  max-width: 80vw;
  margin-top: 4vh;
}
.addtask-container {
}
.map-container {
  max-height: 40vh !important;
  max-width: 50vw;
}

.task-map {
  max-height: 90% !important;
  width: 95% !important;
}
