.buildings-card {
  width: 100% !important;
}

.building-header {
  margin-top: 2vh !important;

  font-size: 24px !important;
}
.building-extra {
  margin-top: 4vh !important;
}
.edit-building-form {
  width: 40vw !important;
}
