.homepage-entry-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em !;
  height: 10vh;
  font-size: 2em;
  background-color: rgb(245, 245, 240);
  text-align: center;
  padding: 1em;
  padding-bottom: 3em;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30px 30px 30px 30px;
}
.homepage-statistics-container {
  clear: both;
  width: 30vw;
  float: left;
  margin-top: 6vh;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0px 0px 30px 30px;
  margin-left: 3%;
}
.homepage-calendar-container {
  float: left;
  width: 25%;
  margin-left: 3%;
  margin-top: 6vh;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0px 0px 0px 0px;
}
.homepage-messages-container {
  width: 30%;
  min-height: 60vh;
  margin-left: 3%;
  float: left;
  margin-top: 6vh;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0px 0px 30px 30px;
}
.ui.one.cards {
  justify-content: center !important;
}
