.homepage-entry-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  height: 6vh;
  font-size: 2em;
  background-color: rgb(245, 245, 240);
  text-align: center;
  padding: 0.5em;
  padding-bottom: 2em;
}
.homepage-statistics-container {
  clear: both;
  width: 30vw;
  float: left;
  margin-top: 6vh;

  margin-left: 3%;
}
.homepage-calendar-container {
  float: left;
  width: 25%;
  margin-left: 3%;
  margin-top: 6vh;
}
.homepage-messages-container {
  width: 30%;
  height: 60vh;
  margin-left: 3%;
  float: left;
  margin-top: 6vh;
}
.ui.one.cards {
  justify-content: center !important;
}
.homepage-add-message-container {
  width: 30%;
  height: 60vh;
  margin-left: 3%;
  float: left;
  margin-top: 6vh;
}
