.ui .card {
  max-width: 20vw !important;
  opacity: 0.8;
  transition: all 0.4s ease-in-out !important;
}

.ui .card:hover {
  opacity: 1.2;
  transform: scale(1.05);
}

.ui.four.cards {
  justify-content: space-around;
}

.staff-timetable-info {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 1.5em;
  background-color: white;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 30px 30px 30px 30px;
}
